<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width"/>
    <title>test-component-base</title>
    <link href="/css/component.css" rel="stylesheet" type="text/css">
    <style type="text/css" rel="stylesheet">
        #phone{
            width: 375px;
            height: 667px;
            margin: 0 auto;
            background-color: #fff;
        }
        body{
            background-color: #000;
        }
    </style>
</head>
<body>

    <div id="phone">
    </div>

    <script type="text/javascript" src="/js/main.js"></script>
    <script type="text/javascript" >

        $(function () {
            var component=PointComponent({
                name:"4-1",
                type:"point",
                width:"200",
                height:"200",
                text:"",
                data:[
                        ['text_point_1',1,'#f00',0,0,'java','80%'],['text_point_2',0.4,'#f00',-50,-10,'java','80%'],['text_point_3',0.5,'#f00',100,10,'java','80%']
                ],
//                background:"/imgs/cjlu_night.jpg",
//                onClick:function(id){
//                    $('#'+id).trigger('onload');
//                    console.log('#'+id);
//                },
                location:{
                    horiCenter:true,
//                    vert:{
//                        direction:'bottom',
//                        distance:'0px'
//                    }
                },
                css:{
                    color:'#fff',
                    opacity:0,
                    top:'50%',
                    marginTop:'-100px'
                },
                animate:{
                    animateIn:{
                        bottom:'80px',
                        opacity:1
                    },
                    animateOut:{
                        bottom:'0px',
                        opacity:0
                    },
                    duration:500,
                    delay:0
                }
            });

            $('#phone').append(component);

            var mark=false;
            $('#phone').click(function () {

                if(!mark) {
                    $(this).find('.component').trigger('onload');
                    mark = true;
                } else {
                    $(this).find('.component').trigger('onleave');
                    mark=false;
                }
            })

        })


    </script>
</body>
</html>