<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width"/>
    <title>test-component-base</title>
    <link href="/css/component.css" rel="stylesheet" type="text/css">
    <style type="text/css" rel="stylesheet">
        #phone{
            position: relative;
            width: 375px;
            height: 667px;
            margin: 0 auto;
            background-color: #ff0084;
        }
        body{
            background-color: #000;
        }
    </style>
</head>
<body>

    <div id="phone">
    </div>

    <script type="text/javascript" src="/js/main.js"></script>
    <script type="text/javascript" >

        $(function () {
            var component=BargraphComponent({
                name:"4-1",
                type:"bargraph",
                width:"300",
                height:"600",
                text:"",
                data:[
                    ['java',0.3,'#0f0'],
                    ['js',0.4,'#0f0'],
                    ['android',0.5,'#0f0'],
                    ['java',0.2,'#0f0'],
                    ['js',0.4,'#0f0'],
                    ['android',0.5,'#0f0'],
                ],
                location:{
//                    horiCenter:true,
                },
                css:{
                    color:'#fff',
                    opacity:0,
                    top:'20%',
                    marginTop:'-100px',
                    left:'10%',
                },
                animate:{
                    animateIn:{
                        bottom:'80px',
                        opacity:1
                    },
                    animateOut:{
                        bottom:'0px',
                        opacity:0
                    },
                    duration:500,
                    delay:0
                }
            });

            $('#phone').append(component);

            var mark=false;
            $('#phone').click(function () {

                if(!mark) {
                    $(this).find('.component').trigger('onload');
                    mark = true;
                } else {
                    $(this).find('.component').trigger('onleave');
                    mark=false;
                }
            })

        })


    </script>
</body>
</html>